<!-- Banner Image  -->
{{#section 'style'}}
<link rel="stylesheet" href="css/pages/about.css">
{{/section}}

{{!-- Heroes section --}}
<div class="container col-xxl-12 px-0 py-5 my-3">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h4 class=" lh-2 mb-1 text-light">Code of Duty</h4>
      <h1 class="display-4 fw-bold lh-2 mb-4 text-light">Về chúng tôi</h1>
      <p class=" text-light">Chào mừng đến với hệ thống giải đấu bóng đá Code of Duty League. Chúng tôi rất sẵn
        lòng
        lắng nghe và phục vụ nhu cầu của các bạn.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="#the-team">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Đội ngũ</button>
        </a>
        <a href="#contact">
          <button type="button" class="btn btn-outline-light btn-lg px-4">Liên hệ</button>
        </a>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 text-center">
      <img src="/img/home/footballer.png" class="figure-img" height="500" alt="Example image">
    </div>
  </div>
</div>

{{!-- Sponsor section --}}
<div class="row px-5 py-5 align-items-center bg-white-color-90 flex-column">
  <div class="mb-4 text-center">
    <p class="h5 fw-bold ms-5">Được tài trợ bởi những cá nhân, tổ chức</p>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col-md-4">
        <img src="/img/home/fit-logo.png" height="40" alt="">
      </div>
      <div class="col-md-4">
        <img src="/img/home/vtvcab-logo.png" height="40" alt="">
      </div>
      <div class="col-md-4">
        <img src="/img/home/thanhnien-logo.png" height="40" alt="">
      </div>
    </div>
  </div>
</div>



{{!-- Another heroes section --}}
<div id="the-team" class="row d-flex p-5 bg-dark bg-opacity-75 flex-column text-center text-light">
  <div class="">
    <h5 class=" lh-2 mb-1 mb-3">Code of Duty</h5>
    <h1 class="fw-bold lh-2 mb-4 mb-3">Đội ngũ</h1>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <img src="/img/avatars/avt-default.png" alt="" height="80" class="mb-2">
      <h5 class="card-title mb-1">Nguyễn Tuấn Đạt</h5>
      <p class="mb-0">Hơn 10 năm kinh nghiệm ở lĩnh vực bóng đá</p>
      <p class="">Project Manager</p>
      <div class="d-flex justify-content-center ">
        {{!-- Round Linkedin, facebook and github --}}
        <a target="_blank" href="/" class="text-light">
          <i class="fab fa-linkedin me-2"></i>
        </a>
        <a target="_blank" href="/" class="text-light">
          <i class="fab fa-facebook me-2"></i>
        </a>
        <a target="_blank" href="/" class="text-light">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <div class="col">
      <img src="/img/avatars/avt-default.png" alt="" height="80" class="mb-2">
      <h5 class="card-title mb-1">Nguyễn Đình Ánh</h5>
      <p class="mb-0">Tư duy mở trong thiết kế hệ thống thể thao</p>
      <p class="">Business Analyst</p>
      <div class="d-flex justify-content-center ">
        {{!-- Round Linkedin, facebook and github --}}
        <a target="_blank" href="https://www.linkedin.com/in/user-is-a-user/" class="text-light">
          <i class="fab fa-linkedin me-2"></i>
        </a>
        <a target="_blank" href="https://facebook.com/user.is.a.USer" class="text-light">
          <i class="fab fa-facebook me-2"></i>
        </a>
        <a target="_blank" href="https://github.com/git03-Nguyen" class="text-light">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
    <div class="col">
      <img src="/img/avatars/avt-default.png" alt="" height="80" class="mb-2">
      <h5 class="card-title mb-1">Bùi Đình Bảo</h5>
      <p class="mb-0">Nhiều năm kinh nghiệm với kiểm thử phần mềm</p>
      <p class="">Tester</p>
      <div class="d-flex justify-content-center ">
        {{!-- Round Linkedin, facebook and github --}}
        <a target="_blank" href="/" class="text-light">
          <i class="fab fa-linkedin me-2"></i>
        </a>
        <a target="_blank" href="/" class="text-light">
          <i class="fab fa-facebook me-2"></i>
        </a>
        <a target="_blank" href="/" class="text-light">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </div>
  {{!-- <div class="row row-cols-1 row-cols-md-2 g-0"> --}}
    <div class="row g-0">
      <div class="col-2"></div>
      <div class="col-4">
        <img src="/img/avatars/avt-default.png" alt="" height="80" class="mb-2">
        <h5 class="card-title mb-1">Triệu Hoàng Thiên Ân</h5>
        <p class="mb-0">Nhiều năm kinh nghiệm trong lập trình website</p>
        <p class="">Developer</p>
        <div class="d-flex justify-content-center ">
          {{!-- Round Linkedin, facebook and github --}}
          <a target="_blank" href="/" class="text-light">
            <i class="fab fa-linkedin me-2"></i>
          </a>
          <a target="_blank" href="/" class="text-light">
            <i class="fab fa-facebook me-2"></i>
          </a>
          <a target="_blank" href="/" class="text-light">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <div class="col-4">
        <img src="/img/avatars/avt-default.png" alt="" height="80" class="mb-2">
        <h5 class="card-title mb-1">Lê Minh Huy</h5>
        <p class="mb-0">Nhiều năm kinh nghiệm trong lập trình website</p>
        <p class="">Developer</p>
        <div class="d-flex justify-content-center ">
          {{!-- Round Linkedin, facebook and github --}}
          <a target="_blank" href="/" class="text-light">
            <i class="fab fa-linkedin me-2"></i>
          </a>
          <a target="_blank" href="/" class="text-light">
            <i class="fab fa-facebook me-2"></i>
          </a>
          <a target="_blank" href="/" class="text-light">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  {{!-- Contact section --}}
  <div id="contact" class="row d-flex p-5 bg-white-color-90 flex-column text-start">
    <div class="mx-3">
      <div class="row row-cols-1 row-cols-md-2 mx-3">
        <div class="col">
          <h1 class="display-4 fw-bold lh-2 mb-4">Liên hệ <br /> với chúng tôi</h1>
          <p class="">Bạn có câu hỏi thắc mắc hoặc cần được hỗ trợ? <br />
            Hãy liên hệ với chúng tôi để được hướng dẫn và tư vấn
            chi tiết về những vấn đề trên nền tảng.
          </p>
        </div>
        <div class="col">
          {{!-- Email --}}
          <div class="row ps-4">
            <div class="col-auto justify-content-center">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="col justify-content-center">
              <p class="h5 fw-bold">Email</p>
            </div>
          </div>
          <div class="row ps-4 mb-3">
            <div class="col-auto justify-content-center" style="visibility: hidden;">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="col justify-content-center">
              <a href="mailto:21120171@student.hcmus.edu.vn">21120171@student.hcmus.edu.vn</a>
            </div>
          </div>
          {{!-- Điện thoại --}}
          <div class="row ps-4">
            <div class="col-auto justify-content-center">
              <i class="fas fa-phone"></i>
            </div>
            <div class="col justify-content-center">
              <p class="h5 fw-bold">Điện thoại</p>
            </div>
          </div>
          <div class="row ps-4 mb-3">
            <div class="col-auto justify-content-center" style="visibility: hidden;">
              <i class="fas fa-phone"></i>
            </div>
            <div class="col justify-content-center">
              <a href="tel:84357031330">+84 3570 31330</a>
            </div>
          </div>
          {{!-- Địa chỉ --}}
          <div class="row ps-4">
            <div class="col-auto justify-content-center">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="col justify-content-center">
              <p class="h5 fw-bold">Địa chỉ</p>
            </div>
          </div>
          <div class="row ps-4 mb-3">
            <div class="col-auto justify-content-center" style="visibility: hidden;">
              <i class="fas fa-phone"></i>
            </div>
            <div class="col justify-content-center">
              <p>227 Nguyễn Văn Cừ, Phường 4, Quận 5, TP. Hồ Chí Minh</p>
            </div>
          </div>
          <div class="row ps-4">

            <div class="col justify-content-center">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.635863047679!2d106.6797512748567!3d10.762521589385393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQLiBOZ3V54buFbiBWxINuIEPhu6ssIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1704601347126!5m2!1sen!2s"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>