{{#section 'style'}}
<link rel="stylesheet" href="/css/pages/auth.css">
{{/section}}

{{!-- Login form --}}
<div id="auth-form" class="">
  <div>
    <p class="h1 lh-5 text-center text-primary-color">{{title}}</p>
    <p class="text-center">Mật khẩu mới sẽ được gửi tới hộp thư của bạn.</p>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>

      <button type="submit" class="btn btn-primary w-100">Xác nhận</button>

      {{!-- A horizontal line --}}
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">HOẶC</p>
      </div>

      <div>
        <p class="text-center"><a href="/login">Đăng nhập</a> với tài khoản khác</p>
      </div>


    </form>
  </div>
</div>