<!-- Banner Image  -->
{{#section 'style'}}
<link rel="stylesheet" href="css/pages/home.css">
{{/section}}

{{!-- Heroes section --}}
<div class="container col-xxl-12 px-0 py-5 my-5">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-2 mb-1 text-light">HỆ THỐNG <br />GIẢI ĐẤU BÓNG ĐÁ</h1>
      <h1 class="display-5 fw-bold lh-1 mb-3 text-yellow-color">Code of Duty League</h1>
      <p class="lead text-light">Chào mừng bạn đến với trang web của chúng tôi! Tại đây, bạn sẽ có cơ hội cập nhật đầy
        đủ thông tin
        về các trận đấu bóng đá thuộc hệ thống Code Of Duty League. Hãy tham gia ngay để trải nghiệm những khoảnh khắc
        hồi hộp và sôi động!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/tournament">
          <button type="button" class="btn btn-light btn-lg px-4 me-md-2">Giải đấu</button>
        </a>
        <a href="/teams">
          <button type="button" class="btn btn-outline-light btn-lg px-4">Đội bóng</button>
        </a>
      </div>
    </div>
  </div>
</div>

{{!-- Basic Statistics --}}
<div class="row py-5 px-5 bg-primary-color-90 text-center">
  <div class="col-md-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/img/icons/ic-trophy.png" height="100" width="100" alt="">
      <p class="h4 text-white mt-3 fw-bold"><span class="text-yellow-color">{{nOfTournaments}}</span> giải đấu</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/img/icons/ic-teammate.png" height="100" width="100" alt="">
      <p class="h4 text-white mt-3 fw-bold"><span class="text-yellow-color">{{nOfTeams}}</span> đội tham dự</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <img src="/img/icons/ic-player.png" height="100" width="100" alt="">
      <p class="h4 text-white mt-3 fw-bold"><span class="text-yellow-color">{{nOfPlayers}}</span> cầu thủ</p>
    </div>
  </div>
</div>

{{!-- Another heroes section --}}
<div class="container-fluid d-flex p-5 bg-white-color-90">
  <div class="my-5 ms-5 col-6">
    <p class="h5">Dễ dàng</p>
    <h1 class="display-6 fw-bold lh-2 mb-5">Quản lý đội hình, nộp đơn <br />tham gia ngay vào giải đấu <br /> hấp dẫn
    </h1>
    <button type="button" class="btn btn-lg btn-primary px-4 me-md-2 text-white">Tạo đội hình</button>
  </div>
  <div class="my-5 col-6">
    {{!-- Steps --}}
    <div class="step">
      <div>
        <div class="circle">1</div>
      </div>
      <div>
        <div class="title">Bước một</div>
        <div class="caption">Ban tổ chức khởi tạo giải đấu, lập kế hoạch cho giải đấu một cách chi tiết.</div>
      </div>
    </div>
    <div class="step">
      <div>
        <div class="circle">2</div>
      </div>
      <div>
        <div class="title">Bước hai</div>
        <div class="caption">Các đội nhóm/CLB đăng ký đội hình, nộp đơn tham gia giải đấu.</div>
      </div>
    </div>
    <div class="step">
      <div>
        <div class="circle">3</div>
      </div>
      <div>
        <div class="title">Bước ba</div>
        <div class="caption">Khán giả truy cập vào các giải đấu, thoả sức theo dõi và mua vé xem các trận đấu hấp dẫn.
        </div>
      </div>
    </div>
    <div class="step">
      <div>
        <div class="circle"><i class="fa fa-check"></i></div>
      </div>
      <div>
        <div class="title">Hoàn thành</div>
      </div>
    </div>

  </div>
</div>

{{!-- Sponsor section --}}
<div class="row px-5 py-4 align-items-center bg-light">
  <div class="col-md-6">
    <p class="h5 fw-bold ms-5">Được tài trợ bởi những cá nhân, tổ chức</p>
  </div>
  <div class="col-md-6 align-items-center">
    <div class="row">
      <div class="col-md-4">
        <img src="/img/home/fit-logo.png" height="40" alt="">
      </div>
      <div class="col-md-4">
        <img src="/img/home/vtvcab-logo.png" height="40" alt="">
      </div>
      <div class="col-md-4">
        <img src="/img/home/thanhnien-logo.png" height="40" alt="">
      </div>
    </div>
  </div>
</div>