<!-- Banner Image  -->
{{#section 'style'}}
<link rel="stylesheet" href="css/home.css">
{{/section}}

{{!-- Heroes section --}}
<div class="container col-xxl-12 px-0 py-5 my-5">
  <div class="row flex-lg-row align-items-center g-5 py-5">
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-2 mb-1 text-light">HỆ THỐNG <br />GIẢI ĐẤU BÓNG ĐÁ</h1>
      <h1 class="display-5 fw-bold lh-1 mb-3 text-warning">Code of Duty League</h1>
      <p class="lead text-light">Chào mừng bạn đến với trang web của chúng tôi! Tại đây, bạn sẽ có cơ hội cập nhật đầy
        đủ thông tin
        về các trận đấu bóng đá thuộc hệ thống Code Of Duty League. Hãy tham gia ngay để trải nghiệm những khoảnh khắc
        hồi hộp và sôi động!
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-light btn-lg px-4 me-md-2">Giải đấu</button>
        <button type="button" class="btn btn-outline-light btn-lg px-4">Đội bóng</button>
      </div>
    </div>
  </div>
</div>

{{!-- Basic Statistics --}}
<div class="row py-5 bg-primary-color-90 text-center">
  <div class="col-md-4 icon-column">
    <div class="d-flex flex-column text-center justify-content-center">
      <img src="/img/icons/ic-trophy.png" height="120" width="120" alt="">
      <span>1</span> giải đấu
    </div>
  </div>
  <div class="col-md-4 body-column">
    <img src="/img/icons/ic-trophy.png" height="120" width="120" alt="">
  </div>
  <div class="col-md-4 button-column">
    <img src="/img/icons/ic-trophy.png" height="120" width="120" alt="">
  </div>
</div>