{{#section 'style'}}
<link rel="stylesheet" href="/css/pages/auth.css">
{{/section}}

{{!-- Login form --}}
<div id="login-form" class="">
  <div>
    <p class="h1 lh-5 text-center text-primary-color">Đăng nhập</p>
    {{!-- chưa có tài khoản? đăng ký --}}
    <p class="text-center">Chưa có tài khoản? <a href="/register">Đăng ký</a></p>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="remember">
        <label class="form-check-label" for="remember">Ghi nhớ đăng nhập</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>

      {{!-- A horizontal line --}}
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">HOẶC</p>
      </div>

      <div class="form-group">
        <div class="form-group">
          <a href="/login/with-google" class="text-decoration-none">
            <button class="btn btn-outline-dark w-100 d-flex align-items-center justify-content-center">
              <img src="/img/icons/ic-google.svg" height="16px" alt="" class="me-2">
              <span>Đăng nhập với Google</span>
            </button>
          </a>
        </div>
      </div>
      <div class="form-group">
        <a href="/login/with-facebook" class="text-decoration-none">
          <button class="btn btn-outline-dark w-100 d-flex align-items-center justify-content-center">
            <img src="/img/icons/ic-facebook-colorful.svg" height="16px" alt="" class="me-2">
            <span>Đăng nhập với Facebook</span>
          </button>
        </a>
      </div>

      {{!-- Forgot password --}}
      <div class="form-group">
        <a href="/forgot-password">
          <p class="text-center">Quên mật khẩu?</p>
        </a>
      </div>

    </form>
  </div>
</div>