{{#section 'style'}}
<link rel="stylesheet" href="/css/pages/auth.css">
{{/section}}

{{!-- Login form --}}
<div id="auth-form">
  <div>
    <p class="h1 lh-5 text-center text-primary-color">{{title}}</p>
    {{!-- chưa có tài khoản? đăng ký --}}
    <p class="text-center">Chưa có tài khoản? <a href="/register">Đăng ký</a></p>
  </div>
  <div class="card-body">
    <form action="/login" method="POST">
      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autocomplete="on">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Mật khẩu">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="remember" name="remember">
        <label class="form-check-label" for="remember">Ghi nhớ đăng nhập</label>
      </div>
      <button type="submit" class="btn btn-primary w-100">Đăng nhập</button>

      {{!-- A horizontal line --}}
      <div class="divider d-flex align-items-center my-4">
        <p class="text-center fw-bold mx-3 mb-0 text-muted">HOẶC</p>
      </div>

      <div class="form-group">
        <div class="form-group">
          <a href="/login/with-google" class="text-decoration-none">
            <button class="btn btn-outline-dark w-100 d-flex align-items-center justify-content-center">
              <img src="/img/icons/ic-google.svg" height="16px" alt="" class="me-2">
              <span>Đăng nhập với Google</span>
            </button>
          </a>
        </div>
      </div>
      <div class="form-group">
        <a href="/login/with-facebook" class="text-decoration-none">
          <button class="btn btn-outline-dark w-100 d-flex align-items-center justify-content-center">
            <img src="/img/icons/ic-facebook-colorful.svg" height="16px" alt="" class="me-2">
            <span>Đăng nhập với Facebook</span>
          </button>
        </a>
      </div>

      {{!-- Forgot password --}}
      <div class="form-group">
        <a href="/forgot-password">
          <p class="text-center">Quên mật khẩu?</p>
        </a>
      </div>

    </form>
  </div>
</div>

<!-- Toast message -->
<div id="toastMessage" class="toast align-items-center text-white bg-success border-0 position-absolute" role="alert"
  aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
      aria-label="Close"></button>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    let toast = document.getElementById('toastMessage');
    toast.style.bottom = document.querySelector('footer').offsetHeight + 5 + 'px';
    toast.style.right = '10px';

    const loginForm = document.querySelector('#auth-form');
    loginForm.onsubmit = validate;

    function showToast(status, message) {
      if (toast) {
        toast.classList.remove('bg-success', 'bg-danger', 'show');
      } else {
        toast = document.getElementById('toastMessage');
      }

      toast.querySelector('.toast-body').innerHTML = message;

      if (status == 'success') {
        toast.classList.add('bg-success', 'show');
      } else if (status == 'error') {
        toast.classList.add('bg-danger', 'show');
      }

      setTimeout(() => {
        toast.classList.remove('show');
      }, 2000);

    }

    function validate(event) {
      event.preventDefault();
      const email = document.getElementById('email').value.toLowerCase();
      const password = document.getElementById('password').value;
      const remember = document.getElementById('remember').checked;
      if (email == '' || password == '') {
        showToast('error', 'Vui lòng nhập đầy đủ thông tin');
        return false;
      }
      const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      if (!regex.test(email)) {
        showToast('error', 'Email không hợp lệ');
        return false;
      }
      const data = {
        email: email,
        password: password,
        remember: remember
      };

      fetch('/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => response.json())
        .then(data => {
          if (data.status == 'success') {
            showToast('success', data.message);
            setTimeout(() => {
              window.location.href = '/';
            }, 500);
          } else {
            showToast('error', data.message);
          }
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

  });
</script>