body {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px;
  overflow-x: hidden;
}

/* color */
.text-primary-color {
  color: #003071;
}

.text-yellow-color {
  color: #F5FF80;
}

.bg-primary-color {
  background-color: #003071;
}

.bg-white-color-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

/* Transparent background 90% */
.bg-primary-color-90 {
  background-color: rgba(0, 47, 113, 0.9);
}


/* For nav-items */
.nav-item {
  padding: 0 0.4rem;
}

/* For button */
.btn-primary {
  background-color: #003071;
  border-color: #003071;
}

.btn-primary:hover {
  background-color: #00275d;
  border-color: #00275d;
}