body {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-size: 16px;
}

/* color */
.text-primary-color {
  color: #003071;
}

.bg-primary-color {
  background-color: #003071;
}

/* Transparent background 90% */
.bg-primary-color-90 {
  background-color: rgba(0, 47, 113, 0.9);
}


/* For nav-items */
.nav-item {
  padding: 0 0.4rem;
}