<footer>
  {{!-- Footer always at the bottom page, with just a line: © 2023 Code of Duty in the center --}}

  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-md-12 text-center py-2">
        <p>© 2023 Code of Duty</p>
      </div>
    </div>
</footer>