<footer>
  {{!-- Footer with just a line: © 2023 Code of Duty --}}
  <div class="container-fluid pt-5 px-5 border-bottom bg-light">
    <div class="row ms-5 px-0 text-center">
      © 2023 Code of Duty
    </div>
  </div>
</footer>