<footer>
  <div class="container-fluid pt-5 px-5 border-bottom bg-light">
    <div class="row ms-5 px-0">
      <div class="col-md-3 footer-about wow fadeInUp px-0">
        <a href="/">
          <img class="logo-footer" src="/img/icons/logo.svg" alt="logo-footer">
        </a>
        <p>
          <strong>Website này chỉ phục vụ mục đích học
            thuật</strong>, được phát triển trong học phần Nhập môn Công nghệ phần mềm.
        </p>
      </div>
      <div class="col-md-4 offset-md-1 footer-contact wow fadeInDown">
        <h4 class="mb-2">Liên hệ</h4>
        <p><i class="fas fa-map-marker-alt"></i> 227 Nguyễn Văn Cừ, P.4, Q.5, TP.HCM</p>
        <p><i class="fas fa-phone"></i> 0357 031 330</p>
        <p><i class="fas fa-envelope"></i> <a href="mailto:21120171@student.hcmus.vn">21120171@student.hcmus.edu.vn</a>
        </p>
        <p><i class="fab fa-facebook"></i> <a target="_blank"
            href="https://facebook.com/user.is.a.USer">fb.com/user.is.a.USer</a></p>
      </div>
      <div class="col-md-4 footer-links wow fadeInUp">
        <div class="row">
          <div class="col">
            <h4 class="mb-2">Liên kết</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p><a class="scroll-link" href="/">Trang chủ</a></p>
            <p><a href="/tournament">Giải đấu</a></p>
            <p><a href="/teams">Đội bóng</a></p>
            <p><a href="/about">Về chúng tôi</a></p>
          </div>
          <div class="col-md-6">
            <p><a href="#">Gói &amp; giá cả</a></p>
            <p><a href="#">Quảng cáo</a></p>
            <p><a href="#">Điều khoản</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="container-fluid bg-light ps-0 py-3">
    <div class="container ps-0">
      <div class="row">
        <div class="col-6 footer-copyright">
          Code of Duty &copy; 2023 Football Tournament Management.
        </div>
        <div class="col-6 footer-social">
          <a target="_blank" href="https://facebook.com/user.is.a.USer"><i class="fab fa-facebook-f"></i></a>
          <a target="_blank" href="https://github.com/git03-Nguyen/"><i class="fab fa-github"></i></a>
          <a target="_blank" href="https://youtube.com"><i class="fab fa-youtube"></i></a>
          <a target="_blank" href="https://www.linkedin.com/in/user-is-a-user/"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>
</footer>