<!-- Navbar  -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="img/icons/logo-white.svg" alt="" width="80" height="80" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="mx-auto"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Giải đấu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Đội bóng</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Giới thiệu</a>
        </li>
        <div class="mx-auto ">
          {{#if user}}
          {{!-- user --}}
          {{else}}
          <button class="btn btn-outline-success">Đăng nhập</button>
          <button class="btn btn-outline-success">Đăng ký</button>
          {{/if}}
        </div>
        {{> components/language}}
      </ul>
    </div>
  </div>
</nav>

<!-- Banner Image  -->
<div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="content text-center">
    <h1 class="text-white">WEB ZONE</h1>
  </div>
</div>