{{#section 'style'}}
<link rel="stylesheet" href="/css/pages/auth.css">
{{/section}}

{{!-- Login form --}}
<div id="auth-form" class="my-5">
  <div>
    <p class="h1 lh-5 text-center text-primary-color">{{title}}</p>
    <p class="text-center">Nhập mật khẩu cũ và mật khẩu mới để thay đổi mật khẩu.</p>
  </div>
  <div class="card-body">
    <form id="change-pass-form" method="POST" action="/profile/change-password">
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu cũ">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="newPassword" placeholder="Mật khẩu mới">
      </div>

      {{!-- A horizontal line --}}
      <div class="divider d-flex align-items-center my-4"></div>

      <button type="submit" class="btn btn-primary w-100">Xác nhận</button>
    </form>
  </div>
</div>

<!-- Toast message -->
<div id="toastMessage" class="toast align-items-center text-white bg-success border-0 position-absolute" role="alert"
  aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
      aria-label="Close"></button>
  </div>
</div>

<script>
  const changePassForm = document.getElementById('change-pass-form');
  const password = document.getElementById('password');
  const newPassword = document.getElementById('newPassword');

  let toast = document.getElementById('toastMessage');
  toast.style.bottom = '280px';
  toast.style.right = '10px';

  changePassForm.addEventListener('submit', (e) => {
    e.preventDefault();

    const password = document.getElementById('password').value;
    const newPassword = document.getElementById('newPassword').value;

    if (password == '' || newPassword == '') {
      showToast('error', 'Vui lòng nhập đầy đủ thông tin.');
      return false;
    }

    const data = {
      password,
      newPassword
    };

    fetch('/profile/change-password', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data),
    })
      .then(res => res.json())
      .then(data => {
        if (data.status == 'success') {
          showToast('success', data.message);
          setTimeout(() => {
            window.location.href = '/profile';
          }, 500);
        } else if (data.status == 'error') {
          showToast('error', data.message);
        }
      })
      .catch(err => {
        console.log(err);
      });
  });
</script>