{{#section 'style'}}
<link rel="stylesheet" href="/css/pages/auth.css">
{{/section}}

{{!-- Login form --}}
<div id="auth-form" class="">
  <div>
    <p class="h1 lh-5 text-center text-primary-color">{{title}}</p>
    <p class="text-center">Nhập mật khẩu cũ và mật khẩu mới để thay đổi mật khẩu.</p>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Mật khẩu cũ">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" id="newPassword" placeholder="Mật khẩu mới">
      </div>

      {{!-- A horizontal line --}}
      <div class="divider d-flex align-items-center my-4"></div>

      <button type="submit" class="btn btn-primary w-100">Xác nhận</button>
    </form>
  </div>
</div>