{{#section 'style'}}
<link rel="stylesheet" href="/css/pages/team.css">
{{/section}}

<div class="container-fluid mx-5 px-5 pt-4 pb-3 text-light">
  <p class="h2 fw-bold mb-0">TẠO ĐỘI BÓNG MỚI</p>
  <p class="text-light">Vui lòng điền đầy đủ thông tin để tạo đội bóng mới</p>
</div>

<div class="bg-white-color px-5 py-4 text-center">
  <div class="row mx-5 mb-0">

    <form id="create-team">
      <!--enctype="multipart/form-data" -->
      <div class="row m-0 pt-4 row-gap-3" id="team-form">

        <div class="col-4 text-center">
          <div class="d-flex justify-content-center">
            <div class="position-relative" style="width: fit-content;">
              <img src="/img/teams/team-default.png" alt="" height="300px" width="300px"
                class="rounded-circle object-fit-cover" id="logo-img">
              <div class="position-absolute bottom-0 end-0">
                <label for="logo" class="btn btn-light border border-3 border-light p-2 m-0"><i
                    class="fas fa-camera"></i></label>
                {{!-- Input image png, jpg --}}
                <input type="file" name="logo" id="logo" class="d-none" accept="image/png, image/jpeg" required>
              </div>
            </div>
          </div>
        </div>

        <div class="col-8 text-start">
          <div class="mb-2">
            <p class="m-0 text-nowrap mb-0">Tên đội bóng <span class="text-danger">(*)</span></p>
            <input type="text" class="form-control bg-light text-muted" name="name" id="name" value="" required>
          </div>

          <div class="mb-2">
            <p class="m-0 text-nowrap mb-0">Trình độ <span class="text-danger">(*)</span></p>
            <select class="form-select bg-light text-muted " name="level" id="level" required>
              <option value="Vui vẻ" selected>Vui vẻ
              </option>
              <option value="Sơ cấp">Sơ cấp</option>
              <option value="Trung cấp">Trung cấp</option>
              <option value="Chuyên nghiệp">Chuyên nghiệp</option>
            </select>
          </div>

          <div class="mb-2">
            <p class="m-0 text-nowrap mb-0">Tên người liên hệ<span class="text-danger">(*)</span></p>
            <input type="text" class="form-control bg-light text-muted lh-lg" name="contactName" id="contactName"
              value="" required>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="w-100 me-3">
              <p class="m-0 text-nowrap mb-0">Số điện thoại<span class="text-danger">(*)</span></p>
              <input type="number" class="form-control bg-light text-muted lh-lg" name="contactPhone" id="contactPhone"
                value="" required>
            </div>

            <div class="w-100">
              <p class="m-0 text-nowrap mb-0">Email<span class="text-danger">(*)</span></p>
              <input type="email" class="form-control bg-light text-muted lh-lg" name="contactEmail" id="contactEmail"
                value="">
            </div>

          </div>
        </div>

        <div class="col-12 text-start">
          <div class="mb-3 mt-1">
            <p class="m-0 text-nowrap mb-0">Đồng phục đội bóng</p>
            <div class="py-3 d-flex justify-content-center align-items-center form-control bg-transparent">
              <img src="" alt="" height="100px" id="uniform-img">
              <div class="ms-3">
                <input type="file" class="form-control" name="uniform" id="uniform" accept="image/png, image/jpeg">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-start">
          <div class="mb-3 ">
            <p class="m-0 text-nowrap mb-0">Giới thiệu đội bóng</p>
            <textarea class="form-control bg-light text-muted" name="introduction" id="introduction"
              rows="4"></textarea>
          </div>
        </div>

        <div class="col-12 text-center">
          <button type="submit" class="btn btn-primary">Tạo đội</button>
        </div>
    </form>

  </div>
</div>

<!-- Toast message -->
<div id="toastMessage" class="toast align-items-center text-white bg-success border-0 position-absolute" role="alert"
  aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
      aria-label="Close"></button>
  </div>
</div>

<script>
  const profileForm = document.getElementById('team-form');
  const logo = document.getElementById('logo');
  const logoImg = document.getElementById('logo-img');
  logo.addEventListener('change', () => {
    const file = logo.files[0];
    const reader = new FileReader();
    reader.onload = () => {
      logoImg.src = reader.result;
    }
    reader.readAsDataURL(file);
  });

  const uniform = document.getElementById('uniform');
  const uniformImg = document.getElementById('uniform-img');
  uniform.addEventListener('change', () => {
    const file = uniform.files[0];
    const reader = new FileReader();
    reader.onload = () => {
      uniformImg.src = reader.result;
    }
    reader.readAsDataURL(file);
  });

  const name = document.getElementById('name');
  const contactName = document.getElementById('contactName');
  const contactPhone = document.getElementById('contactPhone');
  const contactEmail = document.getElementById('contactEmail');
  const introduction = document.getElementById('introduction');
  const level = document.getElementById('level');

  const form = document.getElementById('create-team');
  form.addEventListener('submit', (e) => {
    e.preventDefault();

    const data = {
      name: name.value,
      contactName: contactName.value,
      contactPhone: contactPhone.value,
      contactEmail: contactEmail.value,
      introduction: introduction.value,
      level: level.value
    };

    const logo = document.getElementById('logo').files[0];

    fetch('/teams/create-info', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data),
    })
      .then(res => res.json())
      .then(data => {
        if (data.status === 'success') {
          const formData = new FormData();
          formData.append('logo', logo);
          fetch(`/teams/${data.teamId}/update-logo`, {
            method: 'POST',
            body: formData
          })
            .then(res => res.json())
            .then(data => {
              if (data.status === 'success') {
                showToast('success', 'Tạo đội thành công!');
                setTimeout(() => {
                  window.location.href = `/teams/${data.teamId}`;
                }, 1000);
              } else {
                throw new Error('Đã có lỗi xảy ra, vui lòng thử lại sau!')
              }
            })
            .catch(err => {
              console.log(err);
              throw new Error('Đã có lỗi xảy ra, vui lòng thử lại sau!')
            });
        }
      })
      .catch(err => {
        console.log(err);
        showToast('error', 'Đã có lỗi xảy ra, vui lòng thử lại sau!');
      });
  });


</script>